### Python module/package imports for this chapter

In [2]:
import math, json, collections, itertools

In [3]:
import numpy as np

## Mastering Python loops

In [5]:
for n in [1,1,2,3,5,8,13,21,34,55]:
    print(n)

1
1
2
3
5
8
13
21
34
55

In [6]:
for l in "Fibonacci":
    print(l)

F
i
b
o
n
a
c
c
i

In [7]:
for game in open('games.txt','r'):
    print(game,end='')

Athens (1896)
Paris (1900)
St Louis (1904)
London (1908)
Stockholm (1912)
Antwerp (1920)
Paris (1924)
Amsterdam (1928)
Los Angeles (1932)
Berlin (1936)
London (1948)
Helsinki (1952)
Melbourne / Stockholm (1956)
Rome (1960)
Tokyo (1964)
Mexico (1968)
Munich (1972)
Montreal (1976)
Moscow (1980)
Los Angeles (1984)
Seoul (1988)
Barcelona (1992)
Atlanta (1996)
Sydney (2000)
Athens (2004)
Beijing (2008)
London (2012)
Rio (2016)

In [8]:
for game in open('games.txt','r'):
    city = game.split()[0]
    year = game.split()[1]
    
    print(city,year)

Athens (1896)
Paris (1900)
St Louis
London (1908)
Stockholm (1912)
Antwerp (1920)
Paris (1924)
Amsterdam (1928)
Los Angeles
Berlin (1936)
London (1948)
Helsinki (1952)
Melbourne /
Rome (1960)
Tokyo (1964)
Mexico (1968)
Munich (1972)
Montreal (1976)
Moscow (1980)
Los Angeles
Seoul (1988)
Barcelona (1992)
Atlanta (1996)
Sydney (2000)
Athens (2004)
Beijing (2008)
London (2012)
Rio (2016)

In [9]:
for game in open('games.txt','r'):
    words = game.split()
    
    city = ' '.join(words[:-1])
    year = words[-1].strip('()')
    
    print(city,year)

Athens 1896
Paris 1900
St Louis 1904
London 1908
Stockholm 1912
Antwerp 1920
Paris 1924
Amsterdam 1928
Los Angeles 1932
Berlin 1936
London 1948
Helsinki 1952
Melbourne / Stockholm 1956
Rome 1960
Tokyo 1964
Mexico 1968
Munich 1972
Montreal 1976
Moscow 1980
Los Angeles 1984
Seoul 1988
Barcelona 1992
Atlanta 1996
Sydney 2000
Athens 2004
Beijing 2008
London 2012
Rio 2016